<div class="row">
	<div class="col-xs-12">
		<h1>{{ skill._id ? skill.name : "Nieuwe vaardigheid" }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSave(f)" #f="ngForm">
			<div class="form-group" [ngClass]="{'has-error': !name.valid && name.touched}">
				<label for="name">Naam</label>
				<input 
					type="text" 
					id="name" 
					name="name" 
					class="form-control" 
					[ngModel]="skill.name"
					required
					#name="ngModel">
				<span class="help-block" *ngIf="!name.valid && name.touched">Naam is onjuist</span>
			</div>
			<hr>
			<button class="btn btn-success" type="submit" [disabled]="!f.valid"><i class="glyphicon glyphicon-floppy-disk"></i> Opslaan</button>
			<button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!skill._id"><i class="glyphicon glyphicon-trash"></i> Verwijderen</button>
		</form>
	</div>
</div>