<div class="row">
	<div class="col-xs-12">
		<h1>{{ employee.name }} <div class="btn-group" appDropdown>
			<button type="button" class="btn btn-primary dropdown-toggle">Beheer medewerker <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#" *ngIf="!canEdit" (click)="enableEditing()"><i class="glyphicon glyphicon-pencil"></i> Aanpassen</a></li>
				<li><a href="mailto:{{ employee.email }}"><i class="glyphicon glyphicon-envelope"></i> Stuur email</a></li>
			</ul>
		</div></h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<td>Registratie ID:</td>
						<td>{{ employee.registration }}</td>
					</tr>
					<tr>
						<td>Email adres:</td>
						<td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Diploma's</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Vaardigheden</h2>
	</div>
</div>