<div class="row">
	<div class="col-xs-12">
		<h1>{{ employee.name }} <div class="btn-group" appDropdown>
			<button type="button" class="btn btn-primary dropdown-toggle">Beheer medewerker <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a [routerLink]="['/werknemers', employee._id, 'aanpassen']"><i class="glyphicon glyphicon-pencil"></i> Aanpassen</a></li>
				<li><a (click)="reloadData()" style="cursor: pointer;"><i class="glyphicon glyphicon-refresh"></i> Herlaad data</a></li>
				<li><a href="mailto:{{ employee.email }}"><i class="glyphicon glyphicon-envelope"></i> Stuur email</a></li>
			</ul>
		</div></h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<td>Registratie ID:</td>
						<td>{{ employee.registration }}</td>
					</tr>
					<tr>
						<td>Email adres:</td>
						<td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Diploma's</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Diploma naam</th>
					<th>Behaald in (jaar)</th>
					<th width="1%">Acties</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let diploma of diplomas">
					<td><a [routerLink]="['/diplomas', diploma.diplomaId]">{{ diploma.diplomaName }}</a></td>
					<td>{{ diploma.datePassed }}</td>
					<td><a (click)="removeDiploma(diploma.diplomaId)"><button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button></a></td>
				</tr>
			</tbody>
		</table>

		<form (ngSubmit)="addDiploma(f)" #f="ngForm">
			<h2>Diploma toevoegen</h2>
			<div class="form-group">
				<label for="diploma">Diploma's</label>
				<select name="diploma" id="diploma" class="form-control" ngModel>
					<option *ngFor="let diploma of allDiplomas" [value]="diploma._id">{{ diploma.name }}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="datePassed">Behaald in (jaar)</label>
				<input type="number" name="datePassed" id="datePassed" class="form-control" ngModel>
			</div>
			<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Toevoegen</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Vaardigheden</h2>
	</div>
</div>